@import '_vars.scss';
@import '_reset.scss';

/* purecss overrides/extensions */

.pure-button-primary {
  background-color: $red-black;
}

.pure-button-hover, .pure-button:focus, .pure-button:hover {
  background-image: linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.1));
}

/* theme-related stuff */

.dnd-spacer {
  width: 100%;
  height: 6px;
  fill: $dnd-red;
  margin: 0.3em 0;
}

.heading-text {
  display: block;
  font-size: 1.05em;
  font-weight: 500;
  font-family: $serif-font-stack;
  /* something in the post-processing makes font-variant use all-small-caps */
  font-feature-settings: "smcp" on;
  color: $heading-color;
  margin-bottom: 0.2em;
}

.heading-text.heading-text-large {
  font-size: 1.3em;
  width: 100%;
  border-bottom: 2px solid $heading-border-color;
  padding-bottom: 0.1em;
  margin-bottom: 1em;
}

.app-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas:
    "input"
    "encounters";
}

@media only screen and (min-width: $breakpoint) {
  .app-container {
    grid-gap: 40px;
    grid-template-columns: $ui-width auto;
    grid-template-areas:
      "input encounters";
  }
} 

/* form ui */

.encounter-form-wrapper {
  grid-area: input;

  display: flex;
  justify-content: center;

  padding: 20px 30px;
  background-color: $form-background;

  border-bottom: $form-border;
  box-shadow: $shadow;
}

.encounter-form {
  width: $ui-width;
}

@media only screen and (min-width: $breakpoint) {
  .encounter-form-wrapper {
    height: 100vh;

    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
} 

.app-title {
  margin: 0;
  margin-bottom: 0.5em;

  font-family: $serif-font-stack;
  font-feature-settings: "smcp" on;
  color: $heading-color;
}

.field {
  opacity: 1;
  margin-bottom: 20px;
}

.character-select-control {
  display: flex;
}

.character-select-control button {
  margin-left: 10px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

/* encounters */

.encounter-list-wrapper {
  grid-area: encounters;

  display: flex;
  justify-content: center;
}

.encounter-list {
  
  padding: 20px 10px;

  display: flex;
  flex-direction: column;
  width: $ui-width;

}

.encounter-details {
  padding: 15px 15px 30px;
  background-color: $card-background;

  border: $card-border;
  border-radius: $border-radius;
  box-shadow: $shadow, inset 0 0 15px 5px #FFFBF4;

  margin-bottom: 20px;
  
}

@media only screen and (min-width: $breakpoint) {
  .encounter-list-wrapper {
    justify-content: flex-start;
  }
} 

.encounter-details p {
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.encounter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.encounter-delete {
  font-size: 80%;
}

.encounter-heading {
  margin: 0;
  margin-bottom: 0.2em;
  flex-grow: 1;
  font-size: 1.8em;
  text-transform: capitalize;
  font-family: $serif-font-stack;
  font-feature-settings: "smcp" on;
  color: $heading-color;
}

.encounter-subheading {
  margin-bottom: .5em;
  color: $subheading-color;
  font-weight: 100;
  font-size: 1.1em;
}

.encounter-section-header {
  margin-top: 1em;
  margin-bottom: 0.5em;
  
}

.encounter-section-heading {
  margin: 0;
  font-size: 1.3em;
  font-weight: 500;
  font-feature-settings: "smcp" on;
  color: $heading-color;
}

.encounter-monsters {
  padding-inline-start: 20px;
  margin: 0;
}

.encounter-monster {
  list-style: circle; 
}

/* treasure formatting */

.encounter-treasure-coins {
  display: flex;
  padding-inline-start: 0;
}

.encounter-treasure-coins li {
  margin-left: 20px;
  margin-right: 20px;
  list-style: none;
  position:relative;
}

.encounter-treasure-coins li:before {
  position:absolute;
  content: ""; 
  left: -20px;
  top: calc(50% - 4px);
  width: 10px;
  height: 10px;
  display: block;
  border-radius: 50%;
  box-shadow: var(--shadow), inset 0 0 1px 1px rgba(0,0,0, 0.2);
}

.coin-copper:before {
  background-color: $coin-copper;
}

.coin-silver:before {
  background-color: $coin-silver;
}

.coin-electrum:before {
  background-color: $coin-electrum;
}

.coin-gold:before {
  background-color: $coin-gold;
}

.coin-platinum:before {
  background-color: $coin-platinum;
}

/* css transitions styles */

.advanced-enter {
  opacity: 0;
  max-height: 0;
}
.advanced-enter-active {
  opacity: 1;
  max-height: 120px;
  transition: max-height 500ms ease-out, opacity 500ms 150ms; 
}
.advanced-exit {
  opacity: 1;
  max-height: 120px;
}
.advanced-exit-active {
  opacity: 0;
  max-height: 0;
  margin-bottom: 0;
  transition: max-height 500ms ease-in 150ms, margin-bottom 500ms ease-in 150ms, opacity 500ms;
}

/* radio group styled as buttons */

.hidden-fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

.difficulty-radio {
  opacity: 0;
  position: absolute;
}

.difficulty-radio:checked + .difficulty-label {
  background-color: $mint-green;
  color: $white;
}