:root {
  --serif-font-stack: Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;

  --dnd-red: #bc0f0f;
  --dark-red: #49111C;
  --gold: #B38600;
  --brown: #5E503F;
  --pale-brown: #B7A99D;
  --mid-grey: #666666;

  --heading-color: var(--dark-red); /*#822000*/
  --heading-border-color: var(--gold);
  --subheading-color: var(--mid-grey);

  --form-border: 1px solid var(--pale-brown);
  --card-border: 1px solid rgba(84, 77, 72, 0.5);/*hsl(0,0%,70%);*/
  --border-radius: 3px;
  --shadow: 0 3px 3px rgba(0,0,0, 0.2);
  --ui-width: 100%;
  --encounter-list-columns: 1fr;

  --page-background: #ddd;
  --form-background: #fff;
  --card-background: #fff;
  --text-color: #222;

  --primary: #211;

}

@media only screen and (min-width: 920px) {
  :root {
    --ui-width: 520px;
    --encounter-list-columns: var(--ui-width) var(--ui-width);
  }
}

* {
  box-sizing: border-box;
}

body {
  color: var(--text-color);
  background-color: var(--page-background);
  height: 100vh;
}

.encounter-form-wrapper {
  display: flex;
  justify-content: center;

  padding: 20px 30px;
  background-color: var(--form-background);

  border-bottom: var(--form-border);
  box-shadow: var(--shadow);

  /* position: -webkit-sticky;
  position: sticky;
  top: 0; */
}

.encounter-form {
  width: var(--ui-width);
}

.app-title {
  margin: 0;
  margin-bottom: 0.5em;

  font-family: var(--serif-font-stack);
  font-feature-settings: "smcp" on;
  color: var(--heading-color);
}

.field {
  margin-bottom: 20px;
}

.field-label {
  font-size: 1.05em;
  font-weight: 700;
  font-family: var(--serif-font-stack);
  /* something in the post-processing makes font-variant use all-small-caps */
  font-feature-settings: "smcp" on;
  color: var(--heading-color);

  display: block;
  width: 100%;
  border-bottom: 2px solid var(--heading-border-color);
  padding-bottom: 0.1em;
  margin-bottom: 0.5em;
}

.character-select-control {
  display: flex;
}

.character-select-control button {
  margin-left: 10px;
}

.footer {
  padding: 10px 0;
}

.encounter-list {
  padding: 20px 10px 40px;

  display: grid;
  grid-template-columns: var(--encounter-list-columns);
  grid-template-rows: auto;
  justify-content: center;	
  gap: 15px 10px;

}

.encounter-details {
  padding: 15px 15px 30px;
  background-color: var(--card-background);

  border: var(--card-border);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  box-shadow: inset 0 0 15px 5px #FFFBF4;
}

.encounter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.encounter-delete {
  font-size: 80%;
}

.encounter-heading {
  margin: 0;
  margin-bottom: 0.2em;
  flex-grow: 1;
  font-size: 1.6em;
  text-transform: capitalize;
  font-family: var(--serif-font-stack);
  font-feature-settings: "smcp" on;
  color: var(--heading-color);
}

.encounter-subheading {
  margin-bottom: .5em;
  color: var(--subheading-color);
  font-weight: 100;
  font-size: 1.1em;
}

.encounter-monsters {
  padding-inline-start: 20px;
  margin: 0;
}

.encounter-monster {
  list-style: circle; 
}

.pure-button-primary {
  background-color: var(--primary);
}

.dnd-spacer {
  width: 100%;
  height: 6px;
  fill: var(--dnd-red);
  margin-bottom: 1em;
}

/* todo: 

* theme react-selects
* add loot

*/