* {
  box-sizing: border-box;
}

body {
  color: #222;
  background-color: #ddd;
}

@media only screen and (min-width: 920px) {
  .app-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: min-content 1fr;
  }

  .app-container section {
    width: 460px;
  }
}

.encounter-form {
  position: -webkit-sticky;
  position: sticky;
  top: 0;

  padding: 30px 30px 20px;
  background-color: #fff;

  border-bottom: 1px solid hsl(0,0%,70%);
  box-shadow: 1px 1px 1px rgba(0,0,0, 0.2);
}

@media only screen and (min-width: 920px) {
  .encounter-form {
    border-right: 1px solid hsl(0,0%,70%);
    border-bottom-right-radius: 3px;
    

    padding-bottom: 100px;
  }
}

.encounter-form-title {
  margin: 0;
  margin-bottom: 1em;
}

.field {
  margin-bottom: 20px;
}

.field-label {
  font-weight: 500;
  line-height: 1.5em;
}

.character-select-control {
  display: flex;
}

.character-select-control button {
  margin-left: 10px;
}

.footer {
  padding: 10px 0;
}

.encounter-list {
  padding-bottom: 40px;
}

@media only screen and (max-width: 920px) {
  .encounter-details {
    margin: 20px 10px;
  }
}

.encounter-details {
  padding: 15px 15px 30px;
  margin-top: 20px;
  background-color: #fff;

  border: 1px solid hsl(0,0%,70%);
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0,0,0, 0.2);
}

.encounter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.encounter-delete {
  font-size: 80%;
}

.encounter-heading {
  margin: 0;
  flex-grow: 1;
  font-size: 1.6em;
  text-transform: capitalize;
}

.encounter-subheading {
  margin: .5em 0 1em;
  color: #666;
  font-weight: 100;
  font-size: 1.1em;
}

.encounter-monsters {
  padding-inline-start: 20px;
  margin: 0;
}

.encounter-monster {
  list-style: circle; 
}